@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');

@keyframes swing-animation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1); /* Aumenta 20% */
    }
    100% {
      transform: scale(1);
    }
  }

*{
    padding: 0px;
    margin: 0px;
}

:root {
    --cor0: #2A1138;
    --cor1: #4A4050;
    --cor2: #6A4E7A;
    --cor3: #AB23FA;
    --cor4: #854EA5;
    --cor5: #9B40CF;
}

body {
    background-color: #6a4e7a97;
    max-width: 800px;
    min-width: 300px;
    margin: auto;
    padding-bottom: 15px;
}

header {
    background-image: linear-gradient(to bottom, #4a4050ae, #ab23fa50);
}
header div {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px;
    gap: 10px;
}
header > div > h1 {
    text-align: center;
    font-family: "Tilt Prism", sans-serif;
    font-size: 5em;
    
}
header > div > p {
    text-align: center;
    font-family: "Funnel Display", sans-serif;
    font-size: 2em;

}
.album {
    background-color: #4a4050;
    font-family: "Titan One", sans-serif;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.651);
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 1.2em;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
}

.swing {
  animation: swing-animation 1s ease-out infinite;
}

header a {
    text-decoration: none;
    color: white;
}

header > div > p.album > a:hover {
    color: var(--cor0);
}

header > div > p.album:hover {
    background-color: var(--cor3);
    color: var(--cor0);
    transition-duration: 0.5s;
}

header > div > img {
     width: 100%;
    height: auto;
    object-fit: cover;
}

main {
    background-color: #ab23fa28;
    max-width: 800px;
    min-width: 300px;
    margin: auto;
    padding-bottom: 10px;
}
main > h2 {
    font-size: 3em;
    font-family: "Knewave", system-ui;
    font-weight: normal;
    text-align: center;
    text-shadow: 1px 5px 3px rgba(0, 0, 0, 0.44);
    padding-top: 20px;
}

main article {
    text-align: justify;
    line-height: 30px;
    font-size: 1.2em;
    padding: 20px;
    margin: auto;
    text-indent: 30px;
}

main > article > strong {
    text-align: bolder;
}

main > aside > div > h3, ul {
    text-align: center;
    font-family: "Funnel Display", sans-serif;
    font-size: 1.3em;
}

main > aside > div > h3 {
    font-family: "Londrina Shadow", sans-serif;
    font-size: 3em;
}

main > aside > div {
    padding-bottom: 15px;
}

main > aside > div > ul > li > a {
    text-decoration: none;
    color: black;
}

main > aside > div > ul > li > a:hover {
    text-decoration: underline;
}

.top1 {
    list-style-type: "\1F4C0\1F517\00A0";
    list-style-position: inside;
}
.top2 {
    list-style-type: "\1F3BC\1F517\00A0";
    list-style-position: inside;
}
.top3 {
    list-style-type: "\1F525\1F517\00A0";
    list-style-position: inside;
}

#container {
    position: relative;
    display: flex;
    padding-left: 10px;
}

#conteudo {
    position: absolute;
    left: 50%;
    top: 3%;
    padding: 0px 0px 0px 0px;
    transform: translate(-50% -50%);
}

#foto > img {
    
    max-width: 200px;
    position: relative;
    left: 10%;
    top: 5%;
    border-radius: 15px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.555);
    transform: scale(1.1);

}

footer {
    background-color: #ab23fa28;
    border-radius: 0px 0px 45px 45px;
    margin: auto;
    padding-bottom: 1px;
}
footer > h1 {
    text-align: center;
    font-family: "Comic Relief", sans-serif;
}
footer > ul {
    list-style-type: "\2705\00A0";
    list-style-position: inside;
    columns: 2;
    padding-bottom: 10px;
}
footer > ul > li {
    font-size: 1.1em;
    font-family: "Comic Relief", sans-serif;
    font-weight: normal;
}